<!DOCTYPE html>
<html>
<head>
	<title>Rob's Blog</title>
	<meta charset='utf-8'>
	<link href='../css/bootstrap.css' rel='stylesheet' type='text/css'>
	<link href='../css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<div class="container">
		<div class="row">
			<h1>Rob's Blog</h1>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2>Submit Art</h2>
				<form method="post">
					<label>Title</label><br>
					<input name='title' type='string' value='{{title}}'><br><br>

					<label>Art</label><br>
					<textarea name="art" rows='10' cols='60'>{{art}}</textarea><br><br>

					<div class="error">{{error}}</div>

					<input type='submit' value='Submit'>
				</form>
			</div>

			<div class="col-md-6">
				<h2>Gallery</h2>

				{% for art in arts %}
				<div class="art">
				{{art.title}}
				<pre>{{art.art}}</pre>
				</div>
				{% endfor %}


			</div>

		</div>
	</div>

</body>
</html>